* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* border: 2px solid red; */
}
body{
    background-color: antiquewhite;
    padding: 50px 20%;
}

.menu{
    margin: 10px 10px;
    outline: 3px dotted black;
    padding-top: 20px;
    padding-bottom: 300px;
    background-color: bisque;
}

.title {
    text-align: center;
    margin: 10px;
    margin-bottom: 60px;
    padding: 10px;
    font-size: 96px;
    text-decoration: underline;
}

.recipe-list {
    margin: 10px;
    text-align: center;

}

.items {
    margin: 10px;
    list-style: none;
    font-size: 36px;
    padding: 20px;

}