* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: antiquewhite;
}
.container {
    margin: 100px;
    text-align: center;
    background-color:bisque;
    outline: 3px dotted black;
}

.container .title {
    text-align: center;
}

.left-align {
    text-align: left;
    padding: 20px;
}
.title {
    font-size: 36px;
}

.instructions {
    font-size: 18px;
    text-decoration: underline;
}

.list {
    margin: 15px
}
.list li {
    padding: 0px 10px ;
    
}

.back-to-menu-btn {
    padding: 10px;
    display: inline-block; /* Ensure the button doesn't take the full width */
    margin: 10px;
}


